* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 100px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    padding: 20px;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    text-align: center;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 200px;
}

.btn {
    padding: 20px;
    border-radius: 20px;
}

.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-grow: 1;
}

.hidden {
    display: none;
}