.round-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.result-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.player-choice, .computer-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}